<html>
  <head>
    <title>Test</title>
  </head>


<body>
  <h1>Issues</h1>
  <div id="issues">
  </div>

  <h3>Search by issue title</h3>
  <form>
    <input name="title" type="text" value="" />
    <input type="submit" value="search" />
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/old-app.js"></script>
</body>

</html>